#fflogs-button {
  display: inline-block;
  max-width: 100px;
  text-align: center;
  border: 2px solid #929394;
  font-size: 12px;
  background-color: #545557;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 7px;
  margin-left: 10px;
  border-radius: 4px;
  transition: .3s;
}

#fflogs-button:hover {
  background-color: #FFF;
  border-color: #929394;
  color: #545557;
}
