#fflogs-button {
  display: inline-block;
  text-align: center;
  border: 2px solid #929394;
  font-size: 11px;
  background-color: #545557;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 1px 5px;
  margin-left: 10px;
  border-radius: 4px;
  transition: .3s;
}

#fflogs-button:hover {
  background-color: #FFF;
  border-color: #929394;
  color: #545557;
}
